:root{
    --bg-primary: #252526;
    --bg-secondary: #404040;
    --primary: #B7D269;
    --border: #592323;
    --secondary: #94A1A6;
    --heading: #8C4E37;
    --subheading: #d4b3a3;
}
*{
    box-sizing: border-box;
}
body{
    font-family: verdana;
    background-color: var(--bg-primary);
    padding: 0;
    margin: 0;
}
h1{
    color: var(--heading);
}
h2{
    color: var(--subheading);
    text-align: center;
}
h3,h4,h5,h6,#display-id,label{
    color: var(--secondary);
}
input{
    background-color: var(--bg-secondary);
    color: var(--secondary);
}
p{
    color: azure;
}

#heading{
    margin: 3vw 0;
}
main{
    display: flex;
    padding: 0 3vw;
}
main section{
    outline: 2px solid var(--border);
    margin: 0 3vw;
    width: 50%;
}
main section div{
    outline: 2px solid var(--border);
    display: block;
    padding: 1vw;
}
main section div table{
    width: 100%;
    color: var(--primary);
}
main section div table td{
    text-align: center;
    height: 2vw;
    
    color: var(--secondary);
}
#display-id{
    text-align: center;
}
form{
    padding: 1vw;
}